  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* header*/
  header{
      height: 65px;
      width: 100%;
      background-color: aqua;
      position: fixed;
      top: 0;
      z-index: 10;
  }


  /* konten utama */
  .main-content{
      height: 600px;
      background-color: blanchedalmond;
  }

  /* extra 1 */
  .extra-1{
      height: 400px;
      background-color: aquamarine;
  }

  /* extra 2 */
  .extra-2{
    height: 400px;
    background-color:azure;
  }

  /* footer */
  footer{
    height: 100px;
    background-color: darkslategrey;
  }
