  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* header*/
  header{
      height: 65px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.582);
      position: fixed;
      top: 0;
      z-index: 10;
  }
  .nav-bar{
    display: flex;
    align-items: center;
  }
  .left-header{
    flex-grow: 3;
  }
  .center-header{
    flex-grow: 7;
  }
  .right-header{
    flex-grow: 0;
    display: flex;
  }
  .right-header a {
    text-decoration: none;
    margin:0 2px ;
    background-color: rgba(255, 255, 255, 0.3);
    line-height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    display:inline-block;
  }
  .right-header :hover{
    background-color: rgba(0, 0, 0, 0.582);
    transition: 0.5s;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
  }
  ul li:hover {
    background: rgba(29, 29, 29, 0.829) ;
  }
  ul li:hover ul {
    display: block;
  }
  ul li ul {
    position: absolute;
    width: 125px;
    display: none;
  }
  ul li ul li { 
    background: rgba(29, 29, 29, 0.829) ; 
    display: block; 
  }
  ul li ul li a {
    display:block !important;
  } 
  ul li ul li:hover {
    background: #666;
  }


  /* konten utama */
  .main-content{
      height: 600px;
      background-color: blanchedalmond;
  }

  /* extra 1 */
  .extra-1{
      height: 400px;
      background-color: aquamarine;
  }

  /* extra 2 */
  *{box-sizing: border-box;}
.extra2 {
    opacity: 1;
    padding: 20px 20px;
    margin: 20px 20px;
    border: 1px solid #FBEEE6;
    width: 90%;
    font-family: "Lucida Console";
    background-color: hsla(37, 90%, 51%, 0.1);
    text-indent: 50px;
    line-height: 1.2;
    border-radius: 8px;
    transition-duration: 0.4s;
    padding:0 15px;
    text-indent:10px;
    text-align: center; 
    letter-spacing: 3px;
}
.extra2:hover{
   animation-name: extra2;
   animation-duration: 3s;
   transition-duration: 0.3s;
}

@keyframes extra2{
  from {background-color: #FF5733;}
  to {background-color:#F39C12;}
}

.container-extra2 {
    opacity: 1;
    padding: 20px 20px;
    margin: 40px 40px;
    border: 1px solid #F39C12 ;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    font-family: "Lucida Console";
    background-color: hsla(37, 90%, 51%);
    text-indent: 50px;
    line-height: 1.2;
    border-radius: 8px;
    padding:20px;
}

  /* footer */
  footer{
    height: 100px;
    background-color: darkslategrey;
  }
