  body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  .container {
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
  }

  /* header*/
  header{
      height: 65px;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.582);
      position: fixed;
      top: 0;
      z-index: 10;
  }
  .nav-bar{
    display: flex;
    align-items: center;
  }
  .left-header{
    flex-grow: 3;
  }
  .center-header{
    flex-grow: 7;
  }
  .right-header{
    flex-grow: 0;
    display: flex;
  }
  .right-header a {
    text-decoration: none;
    margin:0 2px ;
    line-height: 65px;
    padding-left: 25px;
    padding-right: 25px;
    color: white;
    display:inline-block;
  }
  .right-header :hover{
    background-color: rgba(253, 1, 1, 0.582);
    transition: 0.5s;
  }
  ul {
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul li {
    display: inline-block;
  }
  ul li:hover {
    background: rgba(29, 29, 29, 0.829) ;
  }
  ul li:hover ul {
    display: block;
  }
  ul li ul {
    position: absolute;
    width: 130px;
    display: none;
  }
  ul li ul li { 
    background: rgba(29, 29, 29, 0.829) ; 
    display: block; 
  }
  ul li ul li a {
    display:block !important;
  } 
  ul li ul li:hover {
    background: #666;
  }
  .bar-ikon img{
    width: 55px;
  }
  .bar-ikon{
    display: none;
  }

  /* konten utama */
a {
  text-decoration: none;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(assets/colorful-dramatic-sky-with-cloud-sunset_37874-1733.jpg);
  background-size: cover;
  text-align: center;
  height: 600px;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
  color: black;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
  font-size: 23px;
  color: white;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.signin {
  background-color: #ffffff;
  margin-right: 10px;
}

.signup {
  background-color: #ffffff;
}

.btn {
  padding: 12px 24px;
  color: black;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

  /* extra 1 */
*{box-sizing: border-box;}
.lesson-wrapper {
  padding-bottom: 50px;
  background-color: #806f66;
  text-align: center;
}

.heading {
  padding-top: 40px;
  padding-bottom: 30px;
  color: #fff2bc;
}

.heading h2 {
  font-weight: normal;
  letter-spacing: 10px;
  font-family: sans-serif
}
.lessons{
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: center;
}
.lesson {
  margin: 40px 10px;
}

.lesson-icon {
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #383636;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.box {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 200px;
  height: 50px;
  background-color: #ff5a0b;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: block;
}


.foto {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 25px;
  left: 20px;
  width: 80%;
}

.lesson-icon p {
  position: absolute;
  top: 200px;
  width: 100%;
  color: #fff2bc;
  font-family: sans-serif;
  letter-spacing: 10px;
  font-weight: normal;
}


  /* extra 2 */
* {
    box-sizing: border-box;
}

.extra2 {
    margin: 20px 10px;
    border: 1px solid #FBEEE6;
    width: 15%;
    height: 100%;
    height: auto;
    font-family: "Comic Sans MS";
    background-color: #FF5733;
    background-image: linear-gradient(to bottom right, red, yellow);
    text-indent: 50px;
    line-height: 1.2;
    border-radius: 8px;
    padding: 10px 15px;
    text-indent: 10px;
    text-align: center;
    flex: auto;
    float: left;
}

.extra2 h2{
  padding:10px 0;
}

.extra2:hover {
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.extra2:hover h2 {
    transition-duration: 0.3s;
    text-shadow: 2px 2px red;
}

.extra2:hover p {
    transition-duration: 0.3s;
    text-shadow: 2px 2px red;
}

.container-extra2 {
    position: relative;
    opacity: 1;
    padding: 20px 20px;
    margin: 20px auto;
    border: 1px solid white;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    width: 1500px;
    background-color: white;
    text-indent: 50px;
    line-height: 20px;
    border-radius: 8px;
    padding: 20px;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;
}

.text-content {
    margin: auto;
}

.title-extra2 {
    font-family: "Comic Sans MS";
    text-align: center;
    padding: 10px 20px;
    margin: 10px auto;
    font-size: 40px;
    border: 1px solid #FBEEE6;
    width: 400px;
    height: 100%;
    height: auto;
    background-color: #FF5733;
    background-image: linear-gradient(to bottom right, red, yellow);
    text-indent: 50px;
    line-height: 1.2;
    border-radius: 8px;
    text-indent: 10px;
    flex: auto;
    transition: width 2s;
    text-shadow: 2px 2px red;
}
 /* extra 2 */

  /* footer */
.footer{
  font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: 5px;
}
.footer hr {
  width:200px;
  align:center;
}
